/************************Organisation du Sheet style.css************************/

/************************Reset************************/
* {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;

}

/************************Elements génériques************************/
body{
    --color-1 : #80d94c;
    --color-2 : #33CC33;
}

/************************Elements principaux************************/

body{
    display: flex;

    background-image: url("../Images/Fond_accueil.jpg"); /*Chaîne de montage de l'Altaï - Russie*/
    background-position: right 50%;
    
    height: 100vh;
}

.barre_navigation{
    display: flex;
    justify-content: space-around;

    position: fixed;
    z-index: 2;

    border-bottom: 1px black solid;
    height: 50px;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: white;
}

.secondaire{
    align-items: center;
    justify-content: left;
    
    top: -32px;
    z-index: 1;
    transition: transform 600ms ease-in-out;
    transform: translateY(-6%);

    border-radius: 0px 0px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    height: 80px;
    width: 190px;
}


main{
    padding-top: 70px;
    padding-bottom: 70px;
    height: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    bottom: 0;

    border-top: 1px black solid;
    height: 50px;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: white;

}


/************************Mise en forme par zones************************/

/*******Navigation et Footer*******/
.navigation{
    width: 100px;
    align-content: center;
    text-align: center;
}

.logo{
    height: 50px;
    max-width: 100px;
}

a{
    text-decoration: none;
    color: black;
}

.lien_nav:hover{
    text-decoration: underline;
    color: rgb(114, 114, 114);
    size: bold;
}
.lien_bouton{
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid white;
    border-radius: 4px;
    height: 40px;
    width: 200px !important;
    
    margin-top: 15px;

    font-size: 1em;
    font-weight: bold;
}

.lien_bouton:hover{
    background: linear-gradient(90deg,var(--color-1), var(--color-2));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    border: 2px solid black;
    color: black;
}

.afficher_barre_nav{
    transform: translateY(100%);
}
.afficher_liste{
    display: block !important;
}
.liste_nav{
    display: none;
    position: absolute;
}

/******************************************************/
/********************Classes utiles********************/
/******************************************************/

/***********Barre aside***********/
.hidden{
    display: none !important;
}

/***********Suivi de navigation***********/
.changement_page{
    box-shadow: 0px 5px var(--color-1);
}

/***********En travaux***********/
.en_travaux{
    background-image: url("../Images/under_construction.jpg");
    opacity: 0.6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}