/************************Organisation du Sheet style.css************************/

/************************Reset************************/
* {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;

}

/************************Elements génériques************************/
body{
    --color-1 : #80d94c;
    --color-2 : #33CC33;
}

/************************Elements principaux************************/

body{
    display: flex;
    flex-direction: column;

    background-image: url("../Images/Fond_accueil.jpg"); /*Chaîne de montage de l'Altaï - Russie*/
    background-position: right 50%;
    background-repeat: no-repeat;

    height: 100vh;
}

.barre_navigation{
    display: flex;
    justify-content: space-around;

    position: fixed;
    z-index: 2;

    border-bottom: 1px black solid;
    height: 50px;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: white;
}

.secondaire{
    align-items: center;
    justify-content: center;
    
    z-index: 1;
    transition: transform 600ms ease-in-out;
    transform: translateY(-100%);

    border-radius: 0px 0px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    height: 80px;
    width: 190px;

    padding-left: 10px;
}


main{
    display: flex;
    justify-content: center;
    overflow: hidden;

    height: 100%;
    width: 100%;

    margin-top: 70px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-top: 1px black solid;
    height: 50px;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: white;

}


/************************Mise en forme par zones************************/

/*******Navigation et Footer*******/
.navigation{
    width: 100px;
    align-content: center;
    text-align: center;
}
.block{
        display: block !important;
    }

.logo{
    width: 50px;
}
#logo_principal{
    height: 50px;
    max-width: 100px;
}

a{
    text-decoration: none;
    color: black;
}

.lien_nav:hover{
    text-decoration: underline;
    color: rgb(114, 114, 114);
    size: bold;
}
.lien_bouton{
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid white;
    border-radius: 4px;
    height: 40px;
    width: 200px !important;
    
    margin-top: 15px;

    font-size: 1em;
    font-weight: bold;
}

.lien_bouton:hover{
    background: linear-gradient(90deg,var(--color-1), var(--color-2));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    border: 2px solid black;
    color: black;
}

.afficher_barre_nav{
    transform: translateY(0%);
}
.ajuster_barre_nav{
    width: 250px !important;
}
.afficher_liste{
    display: block !important;
}
.liste_nav{
    display: none;
    
    position: absolute;

    padding-left: 10px;
}

/******************************************************/
/********************Classes utiles********************/
/******************************************************/

/***********Barre aside***********/
.hidden{
    display: none;
}

/***********Suivi de navigation***********/
.changement_page{
    box-shadow: 0px 5px var(--color-1);
    display: block !important;
}

/***********En travaux***********/
.en_travaux{
    background-image: url("../Images/under_construction.jpg");
    opacity: 0.6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*****************************************************/
/********************Media Queries********************/
/*****************************************************/

/*Media pour mobile*/
@media (max-width: 480px){
    
    /********Eléments principaux*******/
    .barre_navigation{
        flex-direction: column;
        align-items: center;
        gap: 15px;

        height: auto;
    }
    .secondaire{
        height: 80px;
    }
    aside{
        flex-direction: row;
        
        top: 109px;
        
        background-color: rgba(255, 255, 255, 1);
        height: 60px;
        width: 100%;

        padding: 0px;
        gap: 10px;
    }
    main{
        margin-top: 98px;
    }

    /********Par zone*******/
    /********Navigation*******/
    .logo{
        height: 30px;
    }
    .navigation{
        display: none;
    }
    .navigation.active{
        display: block;
    }
    
    /********Aside*******/
    aside h2,
    aside .separateur{
        display: none;
    }

    .aside_container{
        display: flex;
        flex-direction: row;
    }
    .logo_aside{
        display: flex;
        align-items: center;
    }
    .logo_aside img{
        height: 30px;
    }
    .notation{
        display: flex;
        flex-wrap: wrap;
        width: 20px;
    }
    .notation img{
        height: 10px;
    }

    /********Main*******/
    .main_container{
        width: 100%;

        padding: 80px 20px 20px 20px;
    }
    h1{
        text-align: center;
    }
    .presentation_box{
        flex-direction: column;
        padding-top: 70px;
        position: static;
    }
    .portrait_box{
        height: 250px;
    }
    .experience_professionnelle{
        font-size: 0.9em;
    }
    .societe{
        font-size: 1em;
    }
    .pays{
        font-size: 0.9em;
    }
    .profession{
        font-size: 1.1em;
        align-content: baseline;
    }
    .periode{
        font-size: 0.8em;
    }
    .description_experience ul{
        padding-left: 0px;
    }
    .section{
        padding: 10px;
    }
    /********Formulaire*******/
    form{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "form_nom"
            "form_societe"
            "form_email"
            "form_message"
            "submit_message";
    }

/*Media pour tablette*/
@media (max-width: 1024px){
    
}
/*Media pour laptop*/
@media (max-width: 1280px){
    
}