.section_icons{
    display: flex;
    flex-direction: column;
    
    text-align: center;
    
    width: 100%;
}
.lien_icon{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    height: auto;
}

